body{
    background-color:#1C1C1C;
    color:#ffffff;
    font-family: "Oswald", serif;
}
img{
    width:450px;
}
nav{
    display:flex;
    justify-content:space-around;
    font-size:40px;
    margin:2rem;
    flex-basis:100%;
}
nav>a{
    color:#ffffff;
}
nav>a:hover{
    color:#A9FF28;
}
p{
    font-size:20px;
}
header h2{
    margin:0;
    font-size:19px;
}
header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
header>div{
    width:50%;
}
header>img{
    width:40%;
}
h1{
    font-size:60px;
    margin:0;
}
h2{
    font-size:45px;
    text-align:center;
    margin:2rem;
}
.contact>div{
    display:flex;
    gap:1rem;
    justify-content:center;
}
.contact img{
    width:40px;
}
.media img{
    display:block;
    margin:auto;
    padding:1rem;
}
.about img{
    display:block;
    margin:auto;
}
@media (min-width:600px){
    h1{
        font-size:81px;
        margin:0;
    }
    header h2{
        font-size:24px;
        margin:0;
    }
    @media (min-width:700px){
        h1{
            font-size:95px;
            margin:0;
        }
        header h2{
            font-size:28px;
            margin:0;
        }
        @media (min-width:800px){
            h1{
                font-size:108px;
                margin:0;
            }
            header h2{
                font-size:32px;
                margin:0;
            }
            @media (min-width:900px){
                h1{
                    font-size:122px;
                    margin:0;
                }
                header h2{
                    font-size:36px;
                    margin:0;
                }
                @media (min-width:1000px){
                    nav{
                        flex-basis:0;
                        font-size:30px;
                    }
                    nav>a{
                        margin:2rem;
                    }
                    header img{
                        width:200px;
                        padding:1rem;
                    }
                    h1{
                        font-size:60px;
                    }
                    header h2{
                        font-size:23px;
                        text-align:left;
                    }
                    header{
                        display:flex;
                        flex-direction:row;
                        flex-wrap:nowrap;
                    }
                    p{
                        margin:1.5rem 5rem;
                    }
                }
            }
        }
    }
}